//------------ card ---------------
$cardWidth: 150px;
$cardHeight: 200px;
$cardBackground: yellow;

//--------------- wrapper --------------
$wrapperBackground: #116059;

//--------------------------------------
$delay: 0.3s;
$scale: 5px;